# Ignore lock files
*.lck

# Ignore autosaves
\#auto_saved_files#
_autosave*

# Ignore libreoffice calc lock
.~lock*

# Ignore backup files
*.bak

# Ignore .kicad_prl
# This is only user-specific configuration for the project
# Things like *whether PCB layer view should be blurred*, etc.
*.kicad_prl
